PORT=5000

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://c59990da6efadec34354565645656w454391339942e5378428ca14718f7beb97c899a4c4805316a:sk_R89uErMBZnq34ml84dV3e@db.prisma.io:5432/postgres?sslmode=require"

BETTER_AUTH_SECRET=aV53j232sdcsdvdfv34245354686Xchrfvdfvaddcerge5t444326zKzAhz8HDV676522pA3Kd8hGaENvUa

BETTER_AUTH_URL=http://localhost:5000 # Base URL of your app